<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <title>Battleship</title>
</head>

<body>
    <input type='hidden' id='sessionID' value="<%=session%>">

    <%- include('banner') %>
    <div class="content" oncontextmenu="return false;">
        <%- include('content/game') %>
    </div>
    <input type='hidden' id='sessionID' value="<%=session%>">

</body>


</html>